doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block headers
      script(src="/moment/moment.js")
      script(src="/chart.js/Chart.min.js")
  body
    block content

    block footers

